/* Plain CSS */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Dancing+Script&family=Lato:wght@300;400&family=Raleway:wght@300;400&display=swap");

/* font-family: "Bad Script", cursive;
font-family: "Dancing Script", cursive;
font-family: "Lato", sans-serif;
font-family: "Raleway", sans-serif; */

:root {
  --primary-font: "lato", san-seriff;
  --primary-color: #eabcde;
  --primary: #0d3344eb;
  --primary-dark: #052634eb;
  --secondary: #49a0eb;
  --secondary-focus: #285780e0;
  --off-white: #fcfcfc;
  --web-color: #00b0ff;
  --fine-color: #198ace;
}

body {
  font-family: var(--primary-font);
  font-size: 17px;
  color: #e9e9e9 !important;
}

body::before {
  display: block;
  content: "";
  height: 54px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* INDEX FILE STYLES */

/* 
 HEADER SECTION
*/

.navbar-toggler {
  border-color: #00b0ff !important;
}

.navbar-toggler:hover {
  background-color: #999;
}

.navbar-brand {
  font-size: 1.5rem;
  color: #00b0ff !important;
  font-family: "Bad Script", cursive;
}

.navbar-nav .nav-item .nav-link {
  color: #ddd;
  font-size: 1.25rem;
  font-weight: lighter;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #00b0ff;
  font-weight: lighter;
  transition: all 0.5s;
}

.navbar-nav .nav-item .active-link {
  color: #00b0ff;
}

/* 
    MAIN CONTENTS SECTION
*/

/* Jumbotron Showcase */
.showcase {
  position: relative;
  z-index: 1;
  background-color: #444;
}
.showcase .bg-img-about {
  position: absolute;
  z-index: -100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../images/verde-chairs.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.btn-phone-call {
  background-color: var(--fine-color);
}


/* SLideshow */

.carousel-inner {
  width: 100%;
  height: 300px;
}

.carousel-inner .image-carousel {
  max-width: 100%;
  height: 300px;
}

.carousel-indicators .active {
  background-color: #555;
  padding-bottom: 2px;
  margin-left: 2px;
}

.carousel-control-prev,
.carousel-control-next{
  border: 0;
  background-color: transparent;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
  padding: 2px;
}

.carousel-caption h5{
  color: black;
  margin-bottom: 2px;
  font-weight: lighter;
}
/* Products */
.product-title {
  color: #00b0ff;
  font-weight: lighter;
  font-size: 1.5rem;
}

/* .image-product {
  width: 430px;
  height: 350px;
} */

.off-white-shadow{
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4), -2px -2px 4px rgba(0, 0, 0, 0.4) !important;
}

/* Contact section */
.contact-section {
  background-color: #00b0ff;
}
.form-floating .textarea {
  height: 120px;
}

.btn-submit {
  width: 50%;
  border-radius: 10px;
}

.address-link {
  font-weight: lighter;
  font-size: 1rem;
}

.address-title {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Google Map */
.mapouter {
  position: relative;
  text-align: center;
  height: 250px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 250px;
  width: 100%;
}

/* 
  FOOTER SECTION
*/

.footer-brand {
  color: #00b0ff !important;
  font-family: "Bad Script", cursive;
}

.horizontal-divider {
  margin: 3px auto;
  width: 100px;
  background-color: #00acee;
}

.nav-item .nav-link .fa {
  padding: 10px;
  font-size: 1.4rem;
  width: 40px;
  text-align: center;
  text-decoration: none;
}

.nav-item .nav-link .fa-facebook {
  color: white;
  background-color: #4267b2;
  border-radius: 10px;
}
.nav-item .nav-link .fa-facebook:hover {
  color: #4267b2;
  background-color: white;
}

.nav-item .nav-link .fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: white;
  border-radius: 10px;
}
.nav-item .nav-link .fa-instagram:hover {
  filter: opacity(0.8);
}

.nav-item .nav-link .fa-whatsapp {
  color: white;
  /* background-color: #128c7e; */
  background-color: #25d366;
  border-radius: 10px;
}

.nav-item .nav-link .fa-whatsapp:hover {
  color: #128c7e;
  background-color: white;
}

.nav-item .nav-link .fa:hover {
  opacity: 0.9;
}

/* copyrigth section */
.footer .copyright {
  background-color: rgba(90, 90, 90, 0.1);
  font-size: large;
}

/* 
  ABOUT US PAGE 
*/

.welcome-jumbotron .horizontal-line {
  width: 120px;
  height: 3px !important;
  color: white;
}

.about-banner {
  position: relative;
  z-index: 1;
  background-color: #444;
}

.about-banner .about-bg-image {
  position: absolute;
  z-index: -100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../images/verde-chairs.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.h-divider {
  display: block;
  width: 300px;
  height: 200px;
  background-color: darkblue;
}

.founder-image {
  width: 350px;
  height: auto;
  border-radius: 10px;
}

.video {
  max-width: 400px;
  height: 250px;
  padding: 10px 20px;
  border: 1px solid red;
  border-radius: 5px;
}

.divider {
  width: 80px;
  height: 20px;
  background-color: black;
  margin-bottom: 20px;
}

/* SCREEN SIZES */
/* 
@media screen and (max-width: 576px) {
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 2px;
  }
} */
